

  body {
    font-family: 'Open Sans', cursive;
      background-color: white;
    overscroll-behavior-y: none;
  }

  h1{

    font-family: 'Karla', sans-serif;
    font-weight: 700;
    max-width: 70rem;
    font-size: calc(1.575rem + 3.9vw);
  }

  
  h3 {
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    max-width: 40rem;
    font-size: calc(.8rem + 1.9vw);
  }

h2{

    font-family: 'Karla', sans-serif;
    font-weight: 700;
    max-width: 70rem;
    font-size: calc(1.575rem + 2vw);
    
    
    
}

.quieter {
    font-weight: 300 !important
}
h4 {

    font-family: "Open Sans", cursive;
      font-weight: 400;

}

h5, h6 {
      font-family: "Open Sans", cursive;
      font-weight: 300;

  }

  h4 {
      padding-top: 2 rem;
  }
  
  .bg-dark {
      background-color: #007AD0;
  }

  p {
      font-family: "Open Sans";
      font-weight: 300;
  }

  .italic {
      font-style: italic;
  }